body{
	background-color: #BDBDBD; 

}
h1{
	color: #DF013A;
	background-color: black;
	text-align: center;
}

.borde{
	border-radius: 50%
}
.h1-envoltorio{
	width: 100%;
	height: 50%;
}
.h1-envoltorio:hover > h1{
	font-size: 60px;
	background-color: #cccccc;
	color: red;
}
.contenedor{
	background-color:#524C4C;

}
p:hover{
	color: red;
	font-weight: bold;
	font-family: Arial;
}

ul:hover{
	color: red;
	font-weight: bold;
	font-family: Arial;
}

h3:hover{
	color: #8A0808;
	font-weight: bold;
	font-family: Arial;
}
.fondo{
	background-color: #E6E6E6;
}
